<div class="main-div">
  <div class="button-container">
    <button type="button" mat-raised-button class="back-button mx-1" (click)="back()"><span
      class="material-icons">
      undo
      </span>
      Back
    </button>
    <div class="header-buttons">
      <button type="button" mat-raised-button color="warn" class=" mx-1" (click)="resetForm()">
        <span class="material-icons">
        restart_alt
            </span>
        Reset
      </button>
      <button type="submit" mat-raised-button color="primary" class=" mx-1" [disabled]="formGroup.invalid"
              (click)="createItem()">
        <span class="material-icons">
          save
        </span>
        Save
      </button>
    </div>
  </div>
</div>
<mat-card class="card-container p-5">

  <form action="" [formGroup]="formGroup">
    <div class="row">
      <div class="col md-6">
        <mat-form-field class="example-full-width" appearance="outline">

          <mat-label>Name</mat-label>
          <input type="text" matInput placeholder="Ex. Pizza" formControlName="name">
        </mat-form-field>

      </div>
      <div class="col md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Price</mat-label>
          <input type="number" matInput placeholder="Ex. 23 ALL" formControlName="price">
        </mat-form-field>

      </div>
    </div>
    <div class="row">

      <div class="col md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Barcode</mat-label>
          <input type="text" matInput placeholder="Ex. 324521213" formControlName="barcode">
        </mat-form-field>

      </div>
      <div class="col md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Stock Type</mat-label>
          <input type="text" matInput placeholder="Ex. cope" formControlName="stock_type">
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Low stock</mat-label>
          <input type="number" matInput placeholder="Ex. 15" formControlName="low_stock">
        </mat-form-field>

      </div>
      <div class="col md-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Optimal stock</mat-label>
          <input type="number" matInput placeholder="Ex. 40" formControlName="optimal_stock">
        </mat-form-field>

      </div>
    </div>

  </form>
</mat-card>

