<div class="container">
  <h1>Create User</h1>
  <form [formGroup]="form">
    <div class="d-flex flex-column">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name"  matInput placeholder="John Doe">
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="johndoe@gmail.com">
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput placeholder="12345678">
  </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{role.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div class="d-flex justify-content-end">
    <button class="mx-1" mat-raised-button routerLink="../" color="primary">Back</button>
    <button [disabled]="form.invalid" class="mx-1" mat-raised-button color="primary" (click)="submit()">Submit</button>

  </div>

</div>
