<div class="container-fluid p-3">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center">
      <h1 class="m-0">Products</h1>
      <button class="mx-3" routerLink="/products/add" mat-button color="primary">
        <mat-icon class="mr-2">add</mat-icon>
        <span>Add product</span>
      </button>
    </div>
  </div>

  <ng-container *ngIf="racing$ | async"></ng-container>

  <ng-container *ngIf="vm$ | async as vm">

    <app-product-filter-form
      @fadeIn
      *ngIf="categories$ | async as categories;"
      [categories]="categories"
      [filters]="vm.filters"
      (filtered)="load.next($event)">
    </app-product-filter-form>

    <app-product-table
      @fadeIn
      class="product-table"
      *ngIf="vm.data.length > 0 && !vm.loading"
      [dataSource]="vm.data"
      [displayedColumns]="displayedColumns"
      [pagination]="vm.pagination"
      (paginated)=" load.next($event)">
    </app-product-table>
    <!--                       load.next($event)-->
    <div *ngIf="vm.loading" @fadeIn class="flex-center mt-4">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="vm.data.length === 0 && vm.loaded && !vm.error" @fadeIn class="no-data">
      No data found!
    </div>

    <div *ngIf="vm.error" class="error">
      {{ vm.error }}
    </div>
  </ng-container>

</div>
