<div class="mat-elevation-z1 rounded-table">
  <table mat-table [dataSource]="dataSource" class="mat-table full-width">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }} Lekë</td>
    </ng-container>

    <ng-container matColumnDef="lowStock">
      <th mat-header-cell *matHeaderCellDef>LowStock</th>
      <td mat-cell *matCellDef="let element">{{ element.low_stock }}</td>
    </ng-container>

    <!-- OptimalStock Column -->
    <ng-container matColumnDef="optimalStock">
      <th mat-header-cell *matHeaderCellDef>OptimalStock</th>
      <td mat-cell *matCellDef="let element">{{ element.optimal_stock }}</td>
    </ng-container>

    <!-- Stock Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef>Stock</th>
      <td mat-cell *matCellDef="let element">{{ element?.stock?.quantity }}</td>
    </ng-container>

    <!-- Stock type  Column -->
    <ng-container matColumnDef="stock_type">
      <th mat-header-cell *matHeaderCellDef>Stock type</th>
      <td mat-cell *matCellDef="let element">{{ element?.stock?.type }}</td>
    </ng-container>

    <!-- Barcode Column -->
    <ng-container matColumnDef="barcode">
      <th mat-header-cell *matHeaderCellDef>Barcode</th>
      <td mat-cell *matCellDef="let element">{{ element.barcode }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          type="button"
          color="primary"
          [routerLink]="['/products/details', element.id]">
          <mat-icon>info</mat-icon>
        </button>
        <button
          mat-button
          type="button"
          [routerLink]="['/supplies/add', element.id]">
          <mat-icon class="mr-2">add_shopping_cart</mat-icon>
          <span>Supply</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      class="element-row"
      mat-row
      *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <!--  Pyet Enean per length dhe hiqe nga statike-->
  <mat-paginator
    showFirstLastButtons
    [length]="pagination.total"
    [pageIndex]="pagination.pageIndex - 1"
    [pageSize]="pagination.pageSize"
    [pageSizeOptions]="[20, 50, 100]"
    (page)="paginated.emit($event)">
  </mat-paginator>
</div>
