<mat-toolbar color="primary" class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <button (click)="toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>POS</span>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="menu"> {{username}} <span class="material-icons ml-1">expand_more</span></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <div [routerLink]="['profile']" class="d-flex align-items-center">
            <span class="material-icons mr-1">person_outline</span>
            <span>Profile</span>
          </div>
        </button>
        <button mat-menu-item (click)="logoutEvent.emit()">
          <div class="d-flex align-items-center">
            <span class="material-icons mr-1">logout</span>
            <span>Logout</span>
          </div>
        </button>
      </mat-menu>
    </div>
</mat-toolbar>
