<mat-toolbar
  color="primary"
  class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <div>Amigos - POS</div>
    <div class="ml-5">
      <ng-container *ngFor="let item of navItems">
        <button
          *ngIf="
            item.roles.includes(auth.state.role!) || item.roles.length === 0
          "
          [routerLink]="[item.path]"
          mat-button
          routerLinkActive="active"
          class="mr-2">
          <mat-icon class="mr-2">{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </button>
      </ng-container>
    </div>
  </div>
  <div>
    <button *ngIf="name$ | async as name" mat-button [matMenuTriggerFor]="menu">
      Hello {{ name }}
      <span class="material-icons ml-1">expand_more</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span routerLink="profile" class="d-flex align-items-center">
          <span class="material-icons mr-1">person_outline</span>
          <span>Profile</span>
        </span>
      </button>
      <button mat-menu-item (click)="auth.logout()">
        <span class="d-flex align-items-center">
          <span class="material-icons mr-1">logout</span>
          <span>Logout</span>
        </span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
