<div>
  invoice list

  <button mat-button routerLink="/invoice/create" color="primary">Create</button>
</div>

<div *ngIf="all$ | async as data">

  <table>
    <tr>
      <th>ID</th>
      <th>Total</th>
      <th>is_paid</th>
      <th>user_id</th>
      <th>created_at</th>
    </tr>
    <tr *ngFor="let item of data">
      <td>{{ item.id }}</td>
      <td>{{ item.total }} Lek</td>
      <td>{{ item.is_paid }}</td>
      <td>{{ item.user.name }}</td>
      <td>{{ item.created_at | date }}</td>
    </tr>
  </table>

</div>
