<div class="dashboard-container" *ngIf="data$ | async as data">

  <div class="row mb-3">

    <div class="col-md-4">
      <mat-card class="mb-3">
        <mat-card-content *ngIf="data.salesToday; else loading">
          <h2>Sales Today <span>[Lekë]</span></h2>
          <p class="dashboard-number">{{'123300'}}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="mt-3">
        <mat-card-content *ngIf="data.invoices; else loading">
          <h2>Invoices</h2>
          <p class="dashboard-number">{{'23'}}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-8">
      <mat-card class="full-height">
        <mat-card-content *ngIf="data.items; else loading" style="min-height: 200px">
          <h4 class="text-center m-0">Most sold products</h4>
         <app-items-chart [data]="data.items"></app-items-chart>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div class="row" style="height: 250px">

    <div class="col-md-4">
      <mat-card class="full-height">
        <mat-card-content *ngIf="data.categories; else loading">
        <h4 class="text-center">Sales by category</h4>
        <app-categories-chart [data]="data.categories"></app-categories-chart>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-8">
      <mat-card class="full-height">
        <mat-card-content *ngIf="data.itemsBelowMinimumStock; else loading">
        <h4 class="text-center">Products below minimum stock</h4>
        <app-below-stock-products-table [dataSource]="data.itemsBelowMinimumStock"></app-below-stock-products-table>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
<ng-template #loading>
  <div>
  <mat-spinner></mat-spinner>
  </div>
</ng-template>
