<div class="container-fluid">
  <mat-card>
    <mat-card-content>
      <div class="row" *ngIf="vm$ | async as vm">
        <div class="col-12 col-md-2">
          <h2>Categories</h2>
          <div class="categories-container" *ngIf="categories$ | async as categories">
            <button *ngFor="let category of categories" class="category-item"
                    (click)="setActiveCategory(category.id)"
                    [class.active]="vm.activeCategoryId === category.id"
                    mat-button type="button" [style.color]="category.color">
              <mat-icon class="mr-2">{{ category.icon }}</mat-icon>
              <span>{{ category.name }}</span>
            </button>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <h2>Products</h2>
          <mat-form-field appearance="outline" style="width: 250px;">
            <mat-label>Search products</mat-label>
            <input (keydown)="handleProductSearch($event)" type="text" matInput>
          </mat-form-field>

          <div class="products-container container-fluid">
            <div class="row justify-content-center align-items-center"
                 *ngIf="products$ | async as productsState">
              <div *ngFor="let product of productsState.data" class="col-12 col-md-6 mb-2 px-0">
                <div class="product-item" (click)="addItem(product)">
                  <b>{{ product.name }}</b>
                  <div class="details">
                    <span>{{ $any(product.stock).quantity }} {{ $any(product.stock).type }}</span>
                    <span>{{ product.price }} Lek</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-12 col-md-6">
          <h2>Invoice</h2>

          <ul>
            <li *ngFor="let item of vm.invoiceProducts">
              {{ item.product.name }} --- {{ item.count }}

              <button (click)="removeItem(item.product.id)" mat-button color="warn">Remove</button>
            </li>
          </ul>

          <br>
          <button mat-button color="primary" (click)="createInvoice()">
            Create invoice
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
